<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size: 150 %>
        <div class="user_name">
          <%= @user.name %><br>
          <small>
            <% if @user.age.present? %>
              ( <%= @user.age %> 才 )
            <% end %>
            &nbsp;性別： 
            <% if @user.gender == 2 %>
              女性
            <% elsif @user.gender == 1 %>
              男性
            <% else %>
              不明
            <% end %>
          </small>
        </div>
        <div class="user_profile">
          <%= @user.profile %>
        </div>
        <div class="user_detail">
          <% if @user.area.present? %>
            <i class="fa fa-map-marker fa-lg"></i>
            <%= @user.area %><br>
          <% end %>
          <% if @user.url.present? %>
            <i class="fa fa-link"></i>
            <% if @user.url.include?("https://") %>
              <% %>
              <% head = 'https://' %>
              <% @user.url.slice!("https://") %>
            <% else %>
              <% head = 'http://' %>
              <% @user.url.slice!("http://") %>
            <% end %>
            <a href="<%= head %><%= @user.url %>" target="_blank"><%= @user.url %></a><br>
          <% end %>
          <i class="fa fa-calendar"></i>
          <%= @user.created_at.strftime('%Y年%m月') %>に登録
        </div>
      </h1>
    </section>
  </aside>
  <div class="col-md-9">
    <div class="user_counts" style="margin-top:10px;height:80px;">
      <div class="col-md-2 <%= 'current' unless @microposts.blank? %>">ツイート<br><%= link_to @user.microposts.count, @user,class: 'count_color' %></div>
      <div class="col-md-2 <%= 'current' unless @followings.blank? %>">フォロー<br><%= link_to @user.following_users.count, followings_user_path(@user),class: 'count_color',  id: "follow-count" %></div>
      <div class="col-md-2 <%= 'current' unless @followers.blank? %>">フォロワー<br><%= link_to @user.follower_users.count, followers_user_path(@user),class: 'count_color',  id: "follower-count" %></div>
      <div class="col-md-2 <%= 'current' unless @favorites.blank? %>">いいね<br><%= link_to @user.favorites.count, favorites_user_path(@user),class: 'count_color',  id: "favorite-count" %></div>
      <div class="col-md-offset-2 col-md-2"><%= render 'follow_form' if logged_in? %></div>
    </div>
    <% if @microposts.present? %>
      <ol class="microposts"><%= render @microposts %></ol>
      <%= paginate @microposts %>
    <% elsif @followings.present? %>
      <span class="user_col"><%= render @followings %></span>
      <%= paginate @followings %>
    <% elsif @followers.present? %>
      <span class="user_col"><%= render @followers %></span>
      <%= paginate @followers %>
    <% elsif @users.present? %>
      <span class="user_col"><%= render @users %></span>
      <%= paginate @users %>
    <% elsif @favorites.present? %>
      <ol class="microposts"><%= render @favorites %></ol>
      <%= paginate @favorites %>
    <% end %>
    </div>
  </div>
</div>